*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background: grey;
    margin: 0 auto;
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    place-items: center;
    background-color: black;
    color: white;
    border-bottom: 5px solid purple;
    margin-bottom: 10px;
}

.nav-menu {
    list-style-type: "";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    flex-wrap: wrap;
    padding: 1em;
}

header {
    margin-bottom: 10px;
}

.button-3D-effect {
    display: block;
    margin: 0 auto;
    min-width: 150px;
    border: none;
    background: none;
    cursor: pointer;
    perspective: 2000px;
    margin-bottom: 10px;
}

.button-3D-effect span {
    display: block;
    position: relative;
    padding: 10px 6px;
    background: white;
    font-size: 16px;
    font-weight: 600;
    color: #1d1d1d;
    box-shadow: 0px 0px 0px 1px purple inset;
    transform-style: preserve-3d;
    transform-origin: top;
    transition: transform 0.3s ease-out;
}

.button-3D-effect span::after {
    content: "CSS 🕵️";
    box-shadow: 0px 0px 0px 1px black inset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    transform-origin: top;
    background-color: purple;
    color: white;
    transform: rotateX(-90deg);
}

.button-3D-effect:hover span {
    transform: rotateX(90deg) translateY(-50%);
}

/* Bonjour */

count-up:not(:defined) {
    display: none;
}

/* Carousel */

.header_carousel {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    width: 95%;
    margin: 0 auto;
}

.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 14px;
}

.carousel {
    position: relative;
    height: 30vh;
    /* width: 50vw; */
}

.carousel button {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    background: none;
    border: none;
    outline: none;
    font-size: 2.6rem;
    z-index: 2;
    cursor: pointer;
    color: white;
}

#prev {
    left: 5px;
}

#next {
    right: 5px;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.slide.active {
    opacity: 1;
}

.slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Title */

.title {
    font-size: 1.9rem;
    background: url(img/h1.jpeg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Main Text */

.main-text {
    background-color: white;
    padding: 26px 10px;
}

.main_content {
    display: grid;
}

@media screen and (min-width: 760px) {
    .main_content {
        grid-template-columns: repeat(4, 25%);
    }
}

.main_content div {
    margin-bottom: 14px;
}

/* Accordion */

.accordion {
    width: 50%;
    max-width: 500px;
    background-color: black;
    color: purple;
    cursor: pointer;
    border-bottom: 2px solid white;
    margin: 0 auto 10px;
}

.accordion-title {
    font-weight: 700;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
}

.accordion-body {
    display: grid;
    grid-template-rows: 0fr;
    padding-inline: 1rem;
    transition: 250ms grid-template-rows ease;
}

.accordion:hover .accordion-body {
    grid-template-rows: 1fr;
}

.accordion-body>div {
    overflow: hidden;
}

/*Contact */

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 75%;
    margin: 30px auto;
}

@media screen and (min-width: 760px) {
    form {
        display: grid;
        grid-template-areas:
            "name surname company"
            "email phone number"
            "date time number"
            "subject subject subject"
            "message message message"
            "button button button";
        grid-template-columns: repeat(3, 1fr);
    }
}

#name {
    grid-area: name;
}

#surname {
    grid-area: surname;
}

#company {
    grid-area: company;
}

#email {
    grid-area: email;
}

#phone {
    grid-area: phone;
}

#number {
    grid-area: number;
}

#date {
    grid-area: date;
}

#time {
    grid-area: time;
}

#subject {
    grid-area: subject;
}

#message {
    grid-area: message;
    margin-bottom: 5px;
}

#button {
    grid-area: button;
}

input {
    height: 40px;
}

input,
select,
textarea {
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 4px;
}

textarea {
    height: 100px;
    padding: 8px 4px;
    resize: none;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: purple;
    border-top: 5px solid black;
}


.footer_inside {
    width: 100%;
}

.footer_div {
    width: 20%;
    padding: 1em;
}

.footer_div img {
    width: 150px;
}

input[type="email"] {
    width: 100%;
    height: 30px;
    color: purple;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}

input[type="button"] {
    width: 100%;
    padding: 1em;
    background-color: white;
    color: purple;
    border: none;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1em;
}

footer p {
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
}

.social {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.social ul {
    width: 75%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center;
    margin-inline: auto;
    margin-bottom: 1em;
}

.social img {
    width: 30px;
    height: 30px;
}

hr {
    width: 20%;
    margin-inline: auto;
    border: 1px solid white;
}

#github {
    width: 50px;
    height: 30px;
}

#facebook {
    width: 38px;
    height: 38px;
}

.mentions {
    margin: 0 auto;
}

.whitespace {
    text-align: center;
    color: white;
}

.bold {
    font-weight: bold;
}